@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.Sidebar__container {
  background: linear-gradient(-45deg,  #007CC7 , #12232E ,#203647, #12232E);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding: 40px 5vw;

  @media (min-width: 900px) {
    width: 40%;
    position: fixed;
    min-height: 100%;
  }
}

.nav{
	color:white;
	font-size: 1.3rem;
	a{
	text-decoration: none;
	  color:white;
	}
	&:hover{
		text-decoration: underline;
	}
  }

  .RightSection {
	margin: 70px auto 400px;
  
	@media (min-width: 900px) { 
	  margin-top: 100px;
	  width: 60%;
	  float: right;
	}

	.RightSection_Container{
p{
	font-size: 1.5em;
}
	}
  }
  
