:root {
  --spacing-0: 0;
  --spacing-1: 1rem;
  --spacing-3: 1.25rem;
  --spacing-4: 2.5rem;
  /* 1.200 Minor Third Type Scale */
  --fontSize-1: 1.2rem;
  --fontSize-2: 0.7rem;
  --color-primary: #007CC7;
  --color-text: #EEFBFB;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.Sidebar__container {
  background: linear-gradient(-45deg, #007cc7, #12232e, #203647, #12232e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 40px 5vw;

  @media (min-width: 900px) {
    width: 40%;
    position: fixed;
    min-height: 100%;
  }

  p {
    color: white;
    font-size: 1.3rem;
  }
  input{
    border: 1px solid var(--color-primary);
    width:50%;
    height:30px;
    margin-bottom:15px;
  }
  input[type=text]{
    font-size: 1rem;
  }
}

.nav {
  color: white;
  font-size: 1.3rem;

  a {
    text-decoration: none;
    color: white;
    padding: 3px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.RightSection {
  margin: 70px auto 400px;

  @media (min-width: 900px) {
    margin-top: 100px;
    width: 60%;
    float: right;
  }

  .RightSection_Container {
    p {
      font-size: 1.5em;
    }

    .tags {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;

      li {
        font-size: 1.3em;

        &:hover {
          text-decoration: underline;
          cursor: grab;
        }
      }
    }
  }
}

.post-list-item {
  small {
    font-size: var(--fontSize-2)
  }
}

@keyframes sideAn {
  from {
    background: linear-gradient(45deg, rgba(18, 35, 46, 1) 85%, rgba(18, 35, 46, 1) 100%);
  }

  to {
    background: linear-gradient(45deg, rgba(18, 35, 46, 1) 85%, rgba(0, 124, 199, 1) 100%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

.blog-post {
  margin: var(--spacing-0) auto;
  padding: var(--spacing-4) var(--spacing-3);
  font-family: var(--font-body);
  font-size: var(--fontSize-1);

  h1, h2, h3, h4{
    color:var(--color-primary)
  }

}

.blog-post-nav {
  li {

    a[rel~="prev"],
    a[rel~="next"] {
      font-size: 1.5em;
      color: var(--color-primary);
    }
  }
}

.blog-post header p {
  font-size: var(--fontSize-1);
  font-family: var(--font-heading);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-1);
    margin-left: var(--spacing-0);
  }

  ul,
  ol {
    list-style-position: inside;
  }
}

.TopContent {
  padding: 40px 5px 10px;

  @media (min-width: 1300px) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 90px 50px 10px 0px;
  }
  date, tags{
    color: var(--color-text);
    font-size:1.3em;
    margin-top:var(--spacing-1);
  }
}

.TopContent__avatar{
display: flex;

}

.TopContent__title {
  font-size: 3rem;
  line-height: 2.5rem;

  @media (min-width: 1300px) {
    font-size: 2rem;
    line-height: inherit;
  }
}

.TopContent__list {
  margin-top: 40px;

  @media (min-width: 1300px) {
    margin-top: 11px;
    float: right;
  }

  a {
    text-decoration: none;
    padding: 6px 20px;
    font-size: 1rem;
    border: 1px solid #003c50;
    margin: 7px;
    color: #003c50;
  }
}
